<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njupt.platform.meta.TeacherMapper">
    <resultMap id="BaseResult" type="cn.edu.njupt.platform.model.Teacher">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="get" resultMap="BaseResult">
        select *
        from wqf.teacher
        where id = #{id}
    </select>

    <insert id="insert">
        insert into wqf.teacher (name, email)
        values (#{name}, #{email})
    </insert>
</mapper>